<ion-item lines="none" class="transaction-item" (click)="onClick()">

  <app-category-icon
    slot="start"
    [categoria]="transaccion.categoria"
    tamaño="small">
  </app-category-icon>

  <ion-label class="transaction-info">

    <app-category-badge
      [categoria]="transaccion.categoria">
    </app-category-badge>

    <ion-text class="descripcion">

      {{ transaccion.descripcion || 'Sin descripción' }}

    </ion-text>

    <ion-text color="medium" class="fecha">

      {{ transaccion.fecha | dateFormat }}

    </ion-text>

  </ion-label>

  <div class="right-section">

    <app-amount-display
      [monto]="transaccion.monto"
      [tipo]="transaccion.tipo"
      tamano="small">
    </app-amount-display>

    <app-photo-preview
      *ngIf="transaccion.foto"
      [src]="transaccion.foto"
      size="small">
    </app-photo-preview>

  </div>

</ion-item>