<ion-card>

  <ion-card-header>
    <ion-card-title>Foto del comprobante</ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <!-- Vista previa -->
    <div *ngIf="foto">
      <img [src]="foto" style="width:100%; border-radius:10px;" alt=""/>
    </div>

    <!-- Botones -->
    <ion-button expand="block" (click)="tomarFoto()">
      Tomar foto
    </ion-button>

    <ion-button expand="block" (click)="seleccionarFoto()">
      Seleccionar de galería
    </ion-button>

    <ion-button
      expand="block"
      color="danger"
      *ngIf="foto"
      (click)="eliminarFoto()">

      Eliminar foto
    </ion-button>

  </ion-card-content>

</ion-card>
