.category-badge{

  display:inline-flex;
  align-items:center;
  gap:6px;
  padding:6px 10px;
  border-radius:12px;
  font-size:12px;
  font-weight:600;

}

.category-badge ion-icon{
  font-size:14px;
  border-radius:20px;

}