<ion-header class="modal-header">
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button fill="clear" (click)="cancelar()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>Nueva Transacción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="transaction-form">

<form [formGroup]="form">

<!-- TARJETA DATOS -->
<ion-card class="form-card">

<ion-card-content>

<!-- Tipo -->
<ion-text class="field-title">
Tipo
</ion-text>

<ion-segment formControlName="tipo">

  <ion-segment-button
  *ngFor="let t of tipos"
  [value]="t">

  {{t}}

  </ion-segment-button>

</ion-segment>


<!-- Categoría -->
<app-select-field
label="Categoría"
[options]="categoriasNombres"
[value]="form.get('categoria')?.value"
(valueChange)="form.get('categoria')?.setValue($event)">
</app-select-field>


<!-- Monto -->
<app-input-field
label="Monto"
type="number"
[value]="form.get('monto')?.value"
(valueChange)="form.get('monto')?.setValue($event)">
</app-input-field>

</ion-card-content>

</ion-card>


<!-- TARJETA FECHA -->

<ion-card class="form-card">

<ion-card-content>

<ion-text class="field-title">
Fecha
</ion-text>

<app-date-field
[value]="form.get('fecha')?.value"
(valueChange)="form.get('fecha')?.setValue($event)">
</app-date-field>

</ion-card-content>

</ion-card>


<!-- TARJETA DESCRIPCIÓN -->

<ion-card class="form-card">

<ion-card-content>

<ion-text class="field-title">
Descripción
</ion-text>

<ion-textarea
formControlName="descripcion"
placeholder="Agregar descripción...">
</ion-textarea>

</ion-card-content>

</ion-card>


<app-photo-selector
(fotoChange)="foto = $event">
</app-photo-selector>

<ion-button
expand="block"
class="save-button"
(click)="guardar()">

Guardar Transacción

</ion-button>

</form>

</ion-content>