<ion-split-pane contentId="main-content">

  <!-- MENU LATERAL -->
  <ion-menu side="start" menuId="main-menu" contentId="main-content">

    <ion-header>
      <ion-toolbar>
        <ion-title>MoneyWise</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>

      <!-- USUARIO -->
      <div class="user-box">
        <img src="assets/img/user.png" class="avatar" alt="User Avatar">
        <h2>{{ userName }}</h2>
        <p>Bienvenido</p>
      </div>

      <!-- MENU ITEMS -->
      <ion-list>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/tabs/dashboard" routerDirection="root">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/tabs/transacciones" routerDirection="root">
            <ion-icon name="swap-horizontal-outline" slot="start"></ion-icon>
            <ion-label>Transacciones</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/tabs/gastos" routerDirection="root">
            <ion-icon name="wallet-outline" slot="start"></ion-icon>
            <ion-label>Gastos</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>

    </ion-content>

  </ion-menu>

  <!-- CONTENIDO PRINCIPAL -->

  <ion-tabs>

  <ion-router-outlet main id="main-content"></ion-router-outlet>

  <ion-tab-bar slot="bottom">

      <ion-tab-button tab="dashboard">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="transacciones">
        <ion-icon name="swap-horizontal"></ion-icon>
        <ion-label>Movimientos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="gastos">
        <ion-icon name="wallet"></ion-icon>
        <ion-label>Gastos</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-split-pane>
