<ion-app>
  <ion-tabs>

    <ion-tab-bar slot="bottom" class="custom-tab-bar">

      <ion-tab-button tab="dashboard">
        <ion-icon name="grid"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="transacciones">
        <ion-icon name="receipt"></ion-icon>
        <ion-label>Movimientos</ion-label>
      </ion-tab-button>

       <ion-tab-button tab="perfil">
  <ion-icon name="person-circle-outline"></ion-icon>
  <ion-label>Perfil</ion-label>
</ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-app>
