<ion-header class="transactions-header">
  <ion-toolbar>
    <ion-title class="transactions-title">Transacciones</ion-title>

    
  </ion-toolbar>
</ion-header>

<ion-content class="dashboard-content">
  <div class="bg-layer" aria-hidden="true">
    <div class="bg-circle c1"></div>
    <div class="bg-circle c2"></div>
  </div>

  <app-filter-bar
    (tipoChange)="tipoFiltro = $any($event)"
    (categoriaChange)="categoriaFiltro = $any($event)"
    (buscarChange)="textoBusqueda = $any($event)">
  </app-filter-bar>

  <ion-list class="transactions-list" *ngIf="(transacciones$ | async) as transacciones">
    <app-transaction-item *ngFor="
      let t of transacciones
      | filterByType:tipoFiltro
      | filterByCategory:categoriaFiltro
      | searchByText:textoBusqueda
      " [transaccion]="t" (clickItem)="abrirDetalle($event)">
    </app-transaction-item>
  </ion-list>

  <app-empty-state
    *ngIf="(transacciones$ | async)?.length === 0"
    icon="wallet"
    message="No tienes transacciones aún">
  </app-empty-state>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-add" (click)="abrirFormulario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
