<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">

  <!-- fondo animado -->
  <div class="login-background">
    <div class="bg-circle circle-1"></div>
    <div class="bg-circle circle-2"></div>
    <div class="bg-circle circle-3"></div>
  </div>

  <div class="dashboard-container">

    <!-- SALDO -->
    <div class="dashboard-card saldo">
      <div class="card-header">
        <ion-icon name="wallet-outline"></ion-icon>
        <span>Saldo</span>
      </div>
      <h2>${{ saldo }}</h2>
    </div>

    <!-- INGRESOS -->
    <div class="dashboard-card ingresos">
      <div class="card-header">
        <ion-icon name="trending-up-outline"></ion-icon>
        <span>Ingresos</span>
      </div>
      <h2>${{ ingresos }}</h2>
    </div>

    <!-- GASTOS -->
    <div class="dashboard-card gastos">
      <div class="card-header">
        <ion-icon name="trending-down-outline"></ion-icon>
        <span>Gastos</span>
      </div>
      <h2>${{ gastos }}</h2>
    </div>

    <!-- GRAFICO -->
    <div class="dashboard-chart">
      <h3>Resumen financiero</h3>
      <canvas id="financeChart"></canvas>
    </div>

  </div>

</ion-content>
